# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.simpleCrud.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\peter\Documents\GitHub\DBS2-Azure-Cosmos-DB\simpleCrud\.idea\.idea.simpleCrud.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
